body
{
background-color: #b7a7a9;

}
h1
{

font-size: 50px;


}
.nav{
    padding: 25px;
    background-color: #f6ece3;
    justify-content: space-between;
    font-size: 25px;
   display: flex;
align-items: center;}

.Logo{
 font-weight: bold;
}

.nav-links{
    word-spacing: 30px;
}
.search{
    margin-right: 40%;
}
.nav input{

    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    

}
.nav input:hover
{
    transition: 20px;
    height: 40px;
    width: 500px;
    background-color: white;
    
}
h1
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-size-adjust: 50px;
}
.container{
    
display: grid;
grid-gap: 50px ;
grid-template-columns: 320px 320px 320px 320px;
margin: 60px;
padding: 1px;

}
.image1
{
width:auto;
border: 5px black;
background-color: azure;
padding: 20px;
 

}
.image1 button{
    border: 2px;color: black;
    width: 100px;
   
    font-family: fantasy;
    font-size: medium;
    background-color: #b7a7a9;
}

.image2
{
width:auto;
border: 5px black;
background-color: azure;
padding: 20px;
}
.image2 button{
    border: 1px;color: black;
    width: 100px;
    
    font-family: fantasy;
    font-size: medium;
    background-color: #b7a7a9;
}
footer
{
    text-align: center;
     background-color: #f6ece3;
      padding: 10px;
}