body
{
    background-color: #b7a7a9;
}
header
{
    background-color: #f6ece3;
    text-align: center;
    font-size: 30px;
    padding: 1px;
    
}
.home{
    text-align: left; 
    margin-left: 20px;
    
    
}
.container{

    display: grid;
    grid-gap: 50px;
    grid-template-columns: 320px 320px 320px 320px;
    margin: 60px;
    padding: 1px;
}
.image1{
    width: auto;
    border: 5px black;
    background-color: azure;
    padding: 20px;
}
.image1 button{
     border: 2px;color: black;
    width: 100px;
   
    font-family: fantasy;
    font-size: medium;
    background-color: #b7a7a9;


}
.image2
{
    width: auto;
    border: 5px black;
    background-color: azure;
    padding: 20px;
}
.image2 button{
    border: 2px;color: black;
    width: 100px;
    font-family: fantasy;
    font-size: medium;
    background-color: #b7a7a9;
}
.image3
{
    width: auto;
    border: 5px black;
    background-color: azure;
    padding: 20px;
}
.image3 button{
    border: 2px;color: black;
    width: 100px;
    font-family: fantasy;
    font-size: medium;
    background-color: #b7a7a9;
}
.image4{
    width: auto;
    border: 5px black;
    background-color: azure;
    padding: 20px;
}
.image4 button{
    border: 2px;color: black;
    width: 100px;
    font-family: fantasy;
    font-size: medium;
    background-color: #b7a7a9;
}
footer{
    text-align: center;
    background-color: #f6ece3;
    padding: 10px;
}