body{
     background-color: #b7a7a9;
}
header
{
    background-color:  #f6ece3;
    text-align: left;
    font-size: 45px;
    padding: 30px;
    font-weight: bolder;
}
form{
    
    text-align: left;
    font-size: 25px;  
    background-color
    : #f0f0f0;

    align-items: center;
    
}
.home{
    text-align: left; 
    margin-left: 20px;
    font-size: 30px;
    
    
}
form button{
   
    border: 2px;color: black;
    width: 150px;
    font-family: fantasy;
    font-size: medium;
    background-color: #f6ece3;
 font-size: 20
 
 
 px;

}
footer{
    text-align: center;
    background-color: #f6ece3;
    padding: 10px;
}
